.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icerik-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
}

.navbar {
  width: 100vw;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e12301;
  color: white;
  text-align: center;
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.logo {
  margin: 50px auto;
  width: 30%;
  height: 10%;
}

.direction a {
  color: white;
  padding: 20px;
  text-decoration: none;
}

.pizza-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.ek {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 150px;
}

.seçimler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.seçim-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.seçim-2 {
  width: 165px;
  height: 100px;
}

#dough-dropdown {
  text-align: center;
  border: none;
  padding: 5px;
  width: 80px;
  height: 30px;
  border: solid gray 0.3px;
}

#name-input {
  width: 80px;
  height: 20px;
  border: none;
  padding: 5px 15px;
  border: solid gray 0.3px;
  text-align: center;
}

.form-label {
  margin-top: 30px;
}

#special-text {
  width: 475px;
  height: 100px;
  border: none;
  margin-top: 10px;
  padding: 5px 15px;
  border: solid gray 0.3px;
  text-align: center;
}

.btn.btn-secondary {
  width: 50px;
  height: 50px;
  background-color: #fdc913;
  color: white;
  border: none;
}

/* #count {
  text-align: center;
  width: 50px;
  height: 45px;
} */

.sayısal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my-5.card {
  width: 100px;
  padding: 20px;
  border: 2px solid;
}

#order-button {
  width: 170px;
  border: none;
  padding: 5px 25px;
  font-family: "Italianno", sans-serif;
  font-size: 1rem;
  background-color: #fdc913;
  color: black;
  cursor: pointer;
}

.error-msg {
  color: #e12301;
  font-size: 1.5rem;
  padding-top: 5px;
}

.checkbox-group {
  display: inline-block;
  width: calc(30% - 5px);
  margin-bottom: 5px;
}

.altButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.altButton button {
  border: none;
  background-color: #fdc913;
  font-size: 2.5rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.altButton input {
  width: 50px;
  height: 45px;
  font-size: 25px;
  text-align: center;
}
